wx_push: # https://wxpusher.zjiecode.com/docs/#/
  app_token: AT_...
  topic_ids:
    - '1234'
  uids: []

concerts:
  - id: '1096049' # https://ticket.chncpa.org/product-1096049.html
    name: '艺术放映厅：卡拉扬与柏林爱乐乐团音乐会（修复版展映）' # for notification only
  - id: '1096295'
    name: '捷杰耶夫与马林斯基交响乐团音乐会'

duration: # in seconds
  inner:
    # type: fixed
    # len: 60.0
    type: gamma # https://statdist.com/distributions/gamma
    k: 10.0
    theta: 8.0
  outer:
    # type: fixed
    # len: 300.0
    type: gamma
    k: 20.0
    theta: 15.0

timeout: 10.0 # in seconds
